body {
  transition-duration: 0.2s;
}

.main-container {
  max-width: 1200px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 30%;
  margin-bottom: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.product-card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-card__info {
  padding: 1rem;
}

.product-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-card__price {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.product-card__description {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 1rem;
}

.product-card__rating {
  display: flex;
  align-items: center;
}

.product-card__rating__rate {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.product-card__rating__count {
  font-size: 1rem;
  color: #555;
}

.product-detail {
  max-width: 800px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
}

.product-detail__image {
  width: 50%;
}

.product-detail__image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.product-detail__info {
  width: 50%;
  padding: 1rem;
}

.product-detail__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-detail__price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail__description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.product-detail__rating {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-detail__rating__rate {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.product-detail__rating__count {
  font-size: 1.2rem;
  color: #555;
  margin-right: 1rem;
}

.back-button {
  font-size: 1.2rem;
  color: #2196f3;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
}

.back-button:hover {
  text-decoration: underline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bc55e2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #fafafa;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fafafa;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
  padding: 10px 0;
}